<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Info animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let animal of unAnimal">
    <ion-item>
      <ion-label>Prénom: {{ animal.prenom }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Type: {{ animal.linkImg }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Date de naissance: {{ animal.dateNaiss }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Proprietaire {{ animal.prenomProprio }} {{ animal.nomProprio }} </ion-label>
    </ion-item>
    <ion-item *ngFor="let photo of photoService.photos; index as position">
      <ion-img src="{{ photo.base64 }}"></ion-img>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>Intervention</ion-item>
    <ion-item *ngFor="let inter of inters; let index = index">
      <ion-label (click)="afficherUneIntervention(index)">{{inter.type}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="btn">
    <ion-button expand="block" color="tertiary" (click)="afficherAjoutIntervention()">Ajout intervention</ion-button>
    <ion-button expand="block" color="warning" (click)="returnTab1()">X</ion-button>
  </div>


</ion-content>