<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Info Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let client of unClient">
    <ion-item>
      <ion-label>Nom: {{ client.nom }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Prenom: {{ client.prenom }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tel: {{ client.tel }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Adresse {{ client.adresse }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Liste des animaux</ion-label>
    </ion-item>
    <ion-item *ngFor="let unAnimal of animaux; let index = index" (click)="afficherInfoAnimal(index)">
      <ion-label>{{ unAnimal.prenom }}</ion-label>
      <ion-label>{{ unAnimal.type }}</ion-label>
      
    </ion-item>
  </ion-list>
  <div class="btn">
    <ion-button expand="block" color="tertiary" (click)="afficherAjouterAnimal()">Ajout animal</ion-button>
    <ion-button expand="block" color="warning" (click)="returnTab1()">X</ion-button>
  </div>
</ion-content>
