<ion-header>
  <ion-toolbar>
    <ion-title>Ajout Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Ajoutez les informations de l'animal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Prenom" [(ngModel)]="nouvAnimal.prenom"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Date de naissance</ion-label>
              <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="nouvAnimal.dateNaiss"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Type</ion-label>
              <ion-select value="Type" okText="Okay" cancelText="Dismiss" [(ngModel)]="nouvAnimal.type">
                <ion-select-option *ngFor="let type of typeAnimal" value="{{ type.type }}"> {{ type.type }} </ion-select-option>
              </ion-select>
            </ion-item>
        </ion-list>
    </ion-card-content>
    <ion-card-subtitle style="padding: 1rem;">
        <ion-button color="primary" expand=block (click)="ajouterAnimal()">Ajouter</ion-button>
        <ion-button color="primary" expand=block (click)="returnInfoClient()">Annuler</ion-button>
    </ion-card-subtitle>
</ion-card>
</ion-content>
