<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Ajout Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item>
          <ion-input type="text" placeholder="Prenom" [(ngModel)]="nouvAnimal.prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Date de naissance</ion-label>
        <ion-datetime displayFormat="YYYY MMM DD" [(ngModel)]="nouvAnimal.dateNaiss"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select value="Type" okText="Okay" cancelText="Dismiss" [(ngModel)]="nouvAnimal.type">
          <ion-select-option *ngFor="let type of typeAnimal" value="{{ type.type }}"> {{ type.type }} </ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>

  <ion-fab>
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="btn">
    <ion-button color="tertiary" expand=block (click)="ajouterAnimal()">Ajouter</ion-button>
    <ion-button color="warning" expand=block (click)="returnInfoClient()">Annuler</ion-button>
  </div>
  

</ion-content>
