.btn-ajoutClient {
    width: 30px;
    height: 40px;
    position: fixed;
    bottom: 25px;
    right: 45px;
    font-size: 25px;
}

.searchbar {
    padding: 1rem;
}

ion-button {
    --border-radius: 3px;
}